* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.header {
    width: 50%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.header-title {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: white;
    float: left;
}

.header-username {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    line-height: 60px;
    background-color: white;
    float: right;
}

.header-username img {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    margin-right: 7px;
}

.dashboard-header {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    width: 50%;
    min-height: 30%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: white;
    border-bottom: 2px solid #bfbfbf;
}

.form-container form {
    width: 500px;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.form-container form textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 2px solid #ddd;
    font-size: 1rem;
    outline: none;
    resize: none;
    background: none;
    margin-top: 10px;
    /*max-height: 120px;*/
}

form textarea:is(:focus, :valid) {
    border-width: 2px;
    border-color: #ffbd03;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

input[type="text"] {
    width: 100%;
    height: 60px;
    padding: 15px;
    background: none;
    border: 2px solid #ddd;
    font-size: 1rem;
}

input[type="text"]:valid,
input[type="text"]:focus {
    outline: none;
}

#post-button {
    height: 40px;
    width: 100px;
    color: white;
    background: #ffbd03;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    float: right;
}

#post-button:active,
#post-button:hover {
    background: #f5b400;
    outline: 0;
    transition: 0.5s;
}

.content {
    width: 50%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.post {
    width: 100%;
    background: none;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.post:hover {
    border-color: #ffbd03;
}

.post p {
    padding: 15px;
}

.post-header {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    color: black;
    padding: 15px;
    text-align: left;
    background: #ccc;
}

.post-header .post-title {
    font-weight: 600;
    float: left;
}

.post-header .post-username {
    font-weight: 500;
    margin-left: 15px;
}

.post-header .post-time {
    font-weight: 500;
    float: right;
}

.post .post-footer {
    width: 100%;
    height: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #ccc;
}

.post-footer button {
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
}

.post-footer .button-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.post-footer img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.post-footer button:hover,
.post-footer button:hover {
    background: #eee;
}

.comment-section {
    display: none;
}

.comment-section.active {
    display: block;
    width: 100%;
    overflow: auto;
    background: #ccc;
}

.comment-form-container {
    width: 100%;
    padding: 5px;
}

.comment-form-container form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.comment-form-container form textarea {
    width: 100%;
    height: 60px;
    padding: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    resize: none;
    background: white;
    border: 2px solid #ddd;
    margin-top: 10px;
}

#comment-button {
    height: 40px;
    width: 100px;
    padding: 5px;
    color: white;
    background: #ffbd03;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}

#comment-button:hover,
#comment-button:active {
    background: #f5b400;
    outline: 0;
    transition: 0.5s;
}

.comments-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.comment {
    width: 90%;
    min-height: 60px;
    font-size: 1rem;
    background: white;
    border: 2px solid #ddd;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.comment-header {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    color: black;
    padding: 15px;
    text-align: left;
}

.comment-header .comment-username {
    font-weight: bold;
    float: left;
}

.comment-header .comment-time {
    float: right;
}

.comment-header p {
    padding: 15px;
}
