* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background: rgb(252, 176, 69);
    background: linear-gradient(
        90deg,
        rgba(252, 176, 69, 1) 0%,
        rgba(253, 29, 101, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
}

.form-container {
    width: 30%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.form-container .header {
    font-size: 48px;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.form-container form {
    padding: 0 40px;
}

.form-container form .input-field {
    position: relative;
    margin: 30px 0;
}

.form-container form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 60px;
    padding: 15px;
    margin: 2px 0;
    padding: 15px;
    background: none;
    border: 2px solid #ccc;
    /*border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    */
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: #eee;
}

input[type="submit"] {
    width: 100%;
    height: 60px;
    border: 2px solid;
    border-radius: 5px;
    color: black;
    background: none;
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:hover {
    /*border-color: rgb(252,176,69);*/
    background-color: rgb(252, 176, 69);
    color: white;
    transition: 0.5s;
}

#error {
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

/* input[value="Register"] { */
#registration {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 20px;
    color: white;
    background: rgb(252, 176, 69);
    font-size: 1.5rem;
    margin: 0 0 30px 0;
    cursor: pointer;
}

/* input[value="Register"]:hover { */
#registration {
    border-color: rgba(253, 29, 101, 1);
    transition: 0.5s;
}

#registration {
    text-align: center;
}

#registration a {
    position: relative;
    top: 10px;
}
