* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background: rgb(252, 176, 69);
    background: linear-gradient(
        90deg,
        rgba(252, 176, 69, 1) 0%,
        rgba(253, 29, 101, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
}

.register-container {
    width: 30%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.register-container .register-header {
    font-size: 48px;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.register-container form {
    padding: 0 40px;
}

.register-container form .input-field {
    position: relative;
    margin: 30px 0;
}

.register-container form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 60px;
    padding: 15px;
    margin: 2px 0;
    padding: 15px;
    background: none;
    border: 2px solid #ccc;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: #eee;
}

input[type="submit"] {
    width: 100%;
    height: 60px;
    border: 2px solid;
    border-radius: 5px;
    color: black;
    background: none;
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(252, 176, 69);
    color: white;
    transition: 0.5s;
}
